/.DS_Store
/.idea
/1.1.0,
/2016_Building_Energy_Benchmarking.csv
/2bpz-gwpy.json
/Bac à sable.ipynb
/Gradient boosting.ipynb
/GridsearchCV - Example | rfb.pdf
/P4 Conso.ipynb
/Pipeline.ipynb
/Staking.ipynb
/__pycache__
/fr_data.csv
/fr_data_clean.csv
/moduleexplo.py
/moduleml.py
/save conso.ipynb
/test.ipynb